:host
{
    font-family: 'archivo';

    display: flex;
    justify-content: space-between;

    padding: 0 15px;

    background: #313131;
}

.header-wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;

    .brand-logo
    {
        font-weight: normal;
    }

    a
    {
        line-height: 64px;

        display: flex;
        align-items: center;

        height: 100%;
        padding: 0 10px;

        transition: all .2s ease;
        text-decoration: none;

        color: #fff;

        &:hover
        {
            background: #008891;
        }

        .user-icon-link
        {
            width: 32px;
            height: 32px;

            background: url('../../assets/icons/user.png') no-repeat center;
            background-size: contain;
        }
    }
}