:host
{
    font-family: 'archivo';

    display: flex;
    justify-content: space-between;

    background: #313131;
}

.header-wrapper
{
    display: flex;
    align-items: center;
    justify-content: center;

    a
    {
        line-height: 64px;

        height: 100%;
        padding: 0 10px;

        transition: all .2s ease;
        text-decoration: none;

        color: #fff;

        &:hover
        {
            background: #008891;
        }
    }
}
