:host
{
    font-family: 'archivo';

    display: flex;
    align-items: center;

    padding: 0 5px;

    background: #008891;
}

.footer-container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    height: 75%;
    margin: 0 auto;

    h1
    {
        font-size: 30px;

        color: white;
    }
}

.social-icon-container
{
    display: flex;
    justify-content: space-between;

    width: 140px;

    .social-icon
    {
        width: 48px;
        height: 48px;
        padding: 4px;

        border-radius: 2px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 85%;

        filter: invert(1);

        &.twitter
        {
            background-image: url('../../assets/icons/twitter.png');
        }

        &.github
        {
            background-image: url('../../assets/icons/github.png');
        }
    }
}

.copy-link
{
    text-decoration: none;

    color: #fff;
}
