.Landing
{
    flex: 1;

    padding: 16px 50px;

    background: url('./landing-bg.png') top right no-repeat,
    url('https://www.transparenttextures.com/patterns/subtle-dots.png') center
    center repeat;
    background-color: #f3f3f3;
    background-size: contain, 30px;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.hero-wrapper
{
    height: 500px;
}