.Landing
{
    display: flex;
    flex: 1;

    background: url('./landing-bg.png') center right no-repeat,
    url('https://www.transparenttextures.com/patterns/subtle-dots.png') center
    center repeat;
    background-color: #f3f3f3;
    background-size: contain, 30px;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.hero-wrapper
{
    flex: 1;
}

.hero-container
{
    background: rgba(255, 255, 255, .75);
}