.logo
{
    font-size: 20px;
    font-weight: bold;

    float: left;

    width: 120px;
    height: 100%;
    margin: 0;
    margin-right: 10px;

    text-align: center;

    color: @white;
    background: rgba(255, 255, 255, .2);
}