<div class="feature-wrapper">
  <nz-card nzTitle="Skill Library">
    <h1>Dive deeper into your practice and learn from the community.</h1>
    <nz-divider nzOrientation="left" nzText="History"></nz-divider>
    <div class="scroll-container">
      <div class="videos-container">
        <div class="video-wrapper" *ngFor="let video of videos">
          <p>{{ video.title }}</p>
          <div class="iframe-wrapper">
            <iframe
              *ngIf="video.videoUrl"
              class="video-iframe"
              [src]="video.videoUrl"
              frameborder="0"
            ></iframe>
          </div>
          <nz-spin *ngIf="isLoading" nzSimple></nz-spin>
        </div>
      </div>
    </div>

    <nz-divider nzOrientation="left" nzText="Top Rock"></nz-divider>

    <nz-divider nzOrientation="left" nzText="Foot Work"></nz-divider>

    <nz-divider nzOrientation="left" nzText="Power"></nz-divider>

    <nz-divider nzOrientation="left" nzText="Musicality"></nz-divider>
  </nz-card>
</div>
