<div class="feature-wrapper">
  <nz-card nzTitle="Skill Library">
    <h1>Dive deeper into your practice and learn from the community.</h1>
    <nz-divider nzOrientation="left" nzText="History"></nz-divider>

    <nz-divider nzOrientation="left" nzText="Top Rock"></nz-divider>

    <nz-divider nzOrientation="left" nzText="Foot Work"></nz-divider>

    <nz-divider nzOrientation="left" nzText="Power"></nz-divider>

    <nz-divider nzOrientation="left" nzText="Musicality"></nz-divider>
  </nz-card>
</div>
