:host
{
    display: grid;
    justify-content: space-between;

    width: 100%;
    min-height: 100vh;

    grid-template-columns: 100%;
    grid-template-rows: 64px 100% 300px;
}

main
{
    background: url('../assets/landing-bg-crop.png') no-repeat right,
    url('https://www.transparenttextures.com/patterns/subtle-dots.png') center
    center repeat;
    background-color: #f3f3f3;
    background-size: contain, 30px;

    @media (max-width: 620px)
    {
        background: url('../assets/landing-bg-mobile-alt1.png') no-repeat center,
        url('https://www.transparenttextures.com/patterns/subtle-dots.png') center
        center repeat;
        background-size: cover, 30px;
    }
}
