:host
{
    font-family: 'archivo';

    display: grid;

    height: 100%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.entry-pane
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    background: url('https://www.transparenttextures.com/patterns/subtle-dots.png') center center repeat;
    background-size: 30px;
    .entry-container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 200px;
        padding: 0 10px;
    }
}

.graphic-pane
{
    border-right: 1px solid #eee;
    background: url('../../assets/landing-bg.png') no-repeat center,
    url('https://www.transparenttextures.com/patterns/subtle-dots.png') center
    center repeat;
    background-color: #f3f3f3;
    background-size: 140%, 30px;
}

.log-in-link
{
    color: #0098c9;
}

h1
{
    font-size: 26px;
}

h2
{
    font-size: 20px;
}

p
{
    font-size: 18px;
}
