:host
{
    font-family: 'archivo';

    display: grid;

    height: 100%;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.entry-pane
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    *
    {
        margin-bottom: 10px;
    }
}

.graphic-pane
{
    background: url('../../assets/landing-bg.png') no-repeat center,
    url('https://www.transparenttextures.com/patterns/subtle-dots.png') center
    center repeat;
    background-color: #f3f3f3;
    background-size: 140%, 30px;
}

h1
{
    font-size: 26px;
    font-weight: normal;
}

h2
{
    font-size: 20px;
}

p
{
    font-size: 18px;
}
