*,
*:before,
*:after
{
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer,
header,
nav,
section,
main
{
    display: block;
}

body
{
    line-height: 1;
}

ol,
ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

input
{
    border-radius: 0;

    -webkit-appearance: none;
}

// ********************
// My own global styles
// ********************

@font-face
{
    font-family: 'archivo';
    font-weight: normal;
    font-style: normal;

    src: url('assets/fonts/Archivo/Archivo-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'archivo';
    font-weight: 500;
    font-style: normal;

    src: url('assets/fonts/Archivo/Archivo-Medium.ttf') format('truetype');
}

@font-face
{
    font-family: 'archivo';
    font-weight: 500;
    font-style: italic;

    src: url('assets/fonts/Archivo/Archivo-MediumItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'archivo';
    font-weight: normal;
    font-style: italic;

    src: url('assets/fonts/Archivo/Archivo-Italic.ttf') format('truetype');
}

@font-face
{
    font-family: 'archivo';
    font-weight: bold;
    font-style: normal;

    src: url('assets/fonts/Archivo/Archivo-SemiBold.ttf') format('truetype');
}

@font-face
{
    font-family: 'archivo';
    font-weight: bold;
    font-style: italic;

    src: url('assets/fonts/Archivo/Archivo-SemiBoldItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'archivo';
    font-weight: bolder;
    font-style: normal;

    src: url('assets/fonts/Archivo/Archivo-Bold.ttf') format('truetype');
}

@font-face
{
    font-family: 'archivo';
    font-weight: bolder;
    font-style: italic;

    src: url('assets/fonts/Archivo/Archivo-BoldItalic.ttf') format('truetype');
}

body
{
    width: 100vw;
    min-height: 100vh;
}

h1,
h2
{
    font-family: 'archivo';
}

.bolder
{
    font-weight: bolder;
}
